body {
  background: white;
  min-height: 100vh;
  overflow-x: hidden;
}

/* ...........scroll-bar.......... */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(255, 202, 132);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 145, 0); 
  }

/* ............Top......page1........  */
header .top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-right: 0%;
    top: 0;
    left: 0;
}
.title {
  display: flex;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-left: 15px;
  padding-top: 20px;
}
#title_text {
    z-index: 1;
  font-size: 1em;
  padding-left: 15px;
  position: absolute;
}
#title-line {
    z-index: 3;
  width: 5px;
  height: 45px;
  position: absolute;
}

.navbar {
  top: 10px;
}

.navbar li {
  float: left;
  list-style: none;
  margin: 13px 20px;
}

.navbar ul {
    overflow: auto;
}

.navbar li a {
    border-radius: 50px;
  background-color: rgb(255, 145, 0);
  padding: 6px 20px;
  box-shadow: 1px 1px 4px rgb(49, 49, 49);
  text-decoration: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variant: normal;
  font-weight: bold;
}
.navbar li a:hover{
    background-color: white;
    color: rgb(255, 145, 0);
}

/* ...................middle.................. */
section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;
    align-items: center;
    flex-direction: row;
}
section .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
    pointer-events: none;
    object-fit: cover;
    margin-left: 350px;
    margin-top: 50px;
}
section .text{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    line-height: 1em;
}
#middle-line {
  height: 3.45px;
  width: 228px;
  text-align: left;
}
#middle-text1 {
  font-size: 3em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
}
#middle-text2 {
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: left;
}



/* ...................bottom............... */
.bottom{
    display: flex;
    width: 500px;
    flex-direction: column;
}
#bottom-title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    font-weight: bold;
}
.bottom-desc{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}


.About1{
    position: relative;
    width: 100%;
    height: 500px;
    background-attachment: fixed; 
    display: flex;
    justify-content: space-evenly;
}

/* .........Slider Image CSS...........   */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

.img-slider{
    flex-wrap: wrap;
    margin-left: 200px;
    position: relative;
    width: 400px;
    height: 250px;
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #fff;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }

